/* Tooltip container */
.tooltipHTML {
    position: relative;
    display: inline-block;
}
/* Tooltip text */
.tooltiptextHTML {
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
}

.tooltipHTML .tooltiptextHTML {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    text-align: center;
    padding: 2px 10px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    top: 100%;
    left: 50%;
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipHTML:hover .tooltiptextHTML {
    visibility: visible;
}

.apexcharts-tooltip {
    color: #101010;
}

/* Fanciest Font*/
.fancy {
    font-family: "Roboto", sans-serif;
}

nav > div > i:hover {
    transform: scale(1.4);
    border-bottom: 0.1px solid blue;
}

nav > div > i {
    cursor: pointer;
}
